<div class="container">
  <h1 class="mt-5">We're sorry, it appears that none of your convictions are eligible to be cleared.</h1>

  <p>We recommend getting a second opinion from a public defender or legal aid attorney in your area.</p>

  <%= link_to 'done', root_path, class: 'btn btn-info btn-block' %>
</div>
