<div class="slab">
  <%= render 'shared/error_card', error_title: 'No eligible convictions found', error_message: "We didn't find any convictions that seemed eligible for record clearance.", show_emoji: false %>
</div>
