<div class="slab">
  <div class="form-card text--centered form-card--narrow">
    <h2 class="margin-top-med">No eligible convictions found</h2>
    <p class="text--large">We didn't find any convictions that seemed eligible for record clearance.</p>
    <div class="form-card__footer">
      <%= link_to 'Done', root_path, class: 'button button--primary' %>
    </div>
  </div>
</div>
