<% @title="Error" %>
<div class="slab">
  <%= render 'shared/error_card', error_title: 'No convictions found', error_message: "We didn't find any convictions on the uploaded rap sheet.", show_emoji: false %>
</div>
