<p>Here is your rap sheet</p>

<div>
  <div class="border">
    <p>Convictions:</p>
    <ul>
      <% @court_dates.each do |date| %>
        <li>
          <%= "Conviction Date: #{date[:date]} Case Number: ##{date[:case_number]}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <% @rap_sheet.rap_sheet_pages.each.with_index do |r, i| %>
    <p>Page <%= i + 1 %></p>
    <pre>
      <%= r.text %>
    </pre>
  <% end %>
</div>
