<% @title="Transcript" %>
    <header class="form-card__header text--centered">
      Transcript - USER NAME
      <%@convictions%>
    </header>

<table class="data-table">
  <thead>
  <tr>
    <th>Date</th>
    <th>County</th>
    <th>Case Number</th>
    <th>Grade</th>
    <th>Charge</th>
    <th>Probation</th>
    <th>Prison</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
  </tbody>
</table>

</div>
