<div class="container">
  <h1>Upload your California RAP sheet</h1>

  Please make sure to:
  <ul>
    <li>Keep the pages in order</li>
    <li>Photograph one page at a time</li>
    <li>Take a clear photo, so the words aren't blurry</li>
  </ul>


  <div class="col-sm-2">
    <%= link_to('Start', rap_sheets_path, class: 'btn btn-info btn-block') %>
  </div>
</div>
