<div class="container">
  <h1 class="mt-5">Upload your California RAP sheet</h1>

  <p>How would you like to upload your RAP sheet?</p>

  <div class="row">
    <div class="col-sm-6">
      <%= link_to('Take photos with my phone', rap_sheets_path, class: 'btn btn-light btn-block') %>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-sm-6">
      <%= link_to('Add a PDF from my computer', new_rap_sheet_pdf_path, class: 'btn btn-light btn-block') %>
    </div>
  </div>
</div>
