<div class="slab">
  <div class="form-card">
    <header class="form-card__header small_padding_bottom">
      <h2 class="form-card__title">Enter attorney details</h2>
      <p class="text--small">This information will be used to fill out petitions.</p>
    </header>
    <div class="form-card__content">
      <div class="form-group">
        <label for="attorney_name" class="form-question">Attorney's name</label>
        <input type="text" class="text-input form-width--name" id="attorney_name">
      </div>
    </div>
    <div class="form-card__content">
      <div class="form-group">
        <label for="bar_number" class="form-question">State bar number</label>
        <input type="text" class="text-input form-width--name" id="bar_number">
      </div>
    </div>
    <div class="form-card__content">
      <div class="form-group">
        <label for="firm_name" class="form-question">Firm name</label>
        <input type="text" class="text-input form-width--name" id="firm_name">
      </div>
    </div>
    <div class="form-card__footer">
      <button class="button button--primary">Next <i class="icon icon-arrow_forward"></i></button>
      <button class="button">Cancel</button>
    </div>
  </div>
</div>
