packages:
  yum:
    imagemagick: []
commands:
  01-libwebp:
    command: "yum --enablerepo=epel --disablerepo=amzn-main -y install libwebp"
  02-tesseract:
    command: "yum --enablerepo=epel -y install tesseract"
  03-libgcj:
    command: "sudo wget -O /usr/lib64/libgcj.so.10 https://github.com/lob/lambda-pdftk-example/raw/master/bin/libgcj.so.10"
  04-pdftk:
    command: "sudo wget -O /usr/bin/pdftk https://github.com/lob/lambda-pdftk-example/raw/master/bin/pdftk"
  05-pdftk-permissions:
    command: "chmod a+x /usr/bin/pdftk"
  06-nodejs:
    command: 'yum --enablerepo=epel -y install nodejs'
