<div class="slab">
  <div class="form-card form-card--transition form-card--narrow">
    <div class="form-card__header">
      <div class="emoji emoji--big emoji--briefcase "/></div>
      <h3 class="form-card__title">Does the client have an attorney to represent them in court?</h3>
    </div>
    <div class="form-card__footer">
      <%= link_to(yes_user_representations_path(@user), class: 'button', method: :post) do %>
        <i class="icon-check icon-green icon-medium vertical-align-middle"></i>Yes, has a lawyer
      <% end %>
      <%= link_to(no_user_representations_path(@user), class: 'button', method: :post) do %>
        <i class="icon-close icon-red icon-medium vertical-align-middle"></i>No, filing pro se
      <% end %>
    </div>
  </div>
</div>

