grammar CycleGrammar
  include CommonGrammar

  rule root
    event_content (event_delimiter event_content)* <Cycle>
  end

  rule event_content
    (!event_delimiter .)* <EventContent>
  end

  rule event_delimiter
     ( N w dash 2.. w N ) / ( N &court_identifier)
  end

  rule dash
    w [-]
  end

  rule court_identifier
    'COURT' w ':'
  end
end
