grammar CycleGrammar
  include CommonGrammar

  rule root
    event_content (event_delimiter event_content)* <Cycle>
  end

  rule event_content
    (!event_delimiter .)* <EventContent>
  end

  rule event_delimiter
     ( N dash 2.. w N ) / ( N &event_identifier)
  end

  rule dash
    stray_quote [-] stray_quote
  end
  
  rule stray_quote
    w [']* w
  end
end
