<%= form_for rap_sheet_page, html: { multipart: true } do |f| %>
  <label for="rap_sheet_page_rap_sheet_page_image">Take photo</label>
  <%= f.file_field :rap_sheet_page_image, accept: 'image/*', capture: 'camera' %>
  <%= f.hidden_field :rap_sheet_id %>
  <div>
    <%= f.submit 'Upload' %>
  </div>
<% end %>
