<div class="slab">
  <div class="form-card text--centered">
    <div class="margin-top-large">
      <i class="icon-check_circle icon-large icon-teal"></i>
    </div>
    <h2 class="margin-top-med">Your court forms are ready!</h2>
    <p>Download and print your paperwork.</p>
    <%= link_to(download_rap_sheet_documents_path(@rap_sheet), class: 'button button--primary margin-bottom-large', data: { turbolinks: false }) do %>
      <i class="icon-vertical_align_bottom"></i> Download paperwork
    <% end %>
    <div class="form-card__footer">
      <%= link_to 'Done', root_path, class: 'button' %>
    </div>
  </div>
</div>
