<% @title="Error" %>
<div class="slab">
<%= render 'shared/error_card', error_title: 'Upload error', error_message: "Apologies, we weren't able to read the file you uploaded", show_emoji: true%>
</div>
