<div class="slab">
  <div class="form-card text--centered form-card--narrow">
    <div class = "form-card--narrow">
    <div class="emoji emoji--big emoji--warning"></div>
    <h2 class="margin-top-med">Upload error</h2>
    <p class="text--large">Apologies, we weren't able to read the file you uploaded</p>
    </div>
    <div class="form-card__footer">
      <%= link_to 'Done', root_path, class: 'button button--primary' %>
    </div>
  </div>
</div>
