body {
  padding-bottom: 20px;
}

.border {
  border: 1px solid black;
}

.hidden {
  display: none;
}
.margin-left{
  margin-left: 80px;
}
.page-indicator {
  text-align: center;
  border: 1px solid black;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  display: inline-block;
  position: relative;

  &.completed {
    background-color: #26d640;
    color: rgba(0, 0, 0, 0.1);

    &:after {
      content: '✓';
      position: absolute;
      color: rgba(0, 0, 0, 1);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.rap-sheet-page-row {
  display: flex;
}

.rap-sheet-page-content {
  flex-grow: 1;
}

.rap-sheet-page-number-column {
  align-items: center;
}

.rap-sheet-page-delete {
  display: flex;
  align-items: center;
  font-size: 32px;

  input[type=submit], a {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
  }
}

.date-select-row {
  display: flex;
}

.form-control.date-select {
  flex: 1 1 auto;
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.boolean-choice {
  display: inline-block;
  cursor: pointer;
  padding: .5em .8em;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin: 0.5em 0.25em;

  input {
    margin-right: 5px;
  }

  .field_with_errors {
    display: inline-block;
  }
}

.grid-container {
  max-width: $site-max-width;
  margin: auto;
  height: 100%;
}

.flex-grid {
  display: flex;
  height: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;

  .button {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.file-picker-box {
  border: 2px solid #EAEAE9;
  padding: 1em;

  .icon-close {
    margin-left: .3em;
  }
}

a.delete-button {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

.cmr-footer.main-footer {
  .flex-grid {
    align-items: center;
    justify-content: space-between;
  }

  .flex-grid-item {
    margin: 1em;
  }

  padding: 0;
  .main-footer__legal {
    font-size: 1.2rem;
  }
}

.truncate-text {
  text-overflow: ellipsis;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
}

.page-wrapper {
  height: 100%
}

.text--large {
  font-size: 2.8rem;
}

.form-card--narrow {
  margin-left: 80px;
  margin-right: 80px;
  line-height: 2em;
}

.form-card h2.margin-top-med {
  margin-top: 1em;
}

.margin-top-small {
  margin-top: 0.6em;
}

.margin-top-large {
  margin-top: 2em;
}

.margin-bottom-large {
  margin-bottom: 2em;
}

.icon-large {
  font-size: 3em;
}

.icon-teal {
  color: #01846F;
}

.no-outline{
  background: transparent;
  border: none;
  box-shadow: none;
  text-decoration: none;
}

.main-header__title a {
  text-decoration: none;
  color: #000;
}

body {
  background: transparent;
}
