.border {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.page-indicator {
  text-align: center;
  border: 1px solid black;
  width: 40px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  display: inline-block;
  position: relative;

  &.completed {
    background-color: #26d640;
    color: rgba(0, 0, 0, 0.1);

    &:after {
      content: '✓';
      position: absolute;
      color: rgba(0, 0, 0, 1);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.rap-sheet-page-row {
  display: flex;
}

.rap-sheet-page-content {
  flex-grow: 1;
}

.rap-sheet-page-number-column {
  align-items: center;
}

.rap-sheet-page-delete {
  display: flex;
  align-items: center;
  font-size: 32px;

  input[type=submit] {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
  }
}

.date-select-row {
  display: flex;
}

.form-control.date-select {
  flex: 1 1 auto;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
