.big-emoji {
  font-size: 60px;
  margin-bottom: -30px;
}

.summary-table {
  margin-left: -40px;
  margin-right: -40px;

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
  }

  tr:first-child th {
    padding-top: 0.5em;
  }

  th.major-header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3em;
    padding-top: 1.5em;
    padding-bottom: 0;
    text-align: left;
    padding-left: 40px;
  }

  th.minor-header {
    color: #AAAAAA;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
    padding-top: 2em;
  }

  td:first-child {
    padding-left: 40px;
  }

  td:last-child {
    padding-right: 40px;
  }

  td {
    padding-top: 1em;
  }

  th, td {
    padding-bottom: 1em;
    font-size: 16px;
    text-align: left;
  }

  tr td {
    border-bottom: 1px solid #EAEAE9;
    border-top: 1px solid #EAEAE9;
  }
}
